<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - GraphPad</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
	<link href="~/Content/toastr.min.css" rel="stylesheet" />
	<link href="~/Content/select2.css" rel="stylesheet" />
	<link href="~/Content/loading-bar.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		.ta-editor {
			min-height: 200px;
			height: auto;
			overflow: auto;
			font-family: inherit;
			font-size: 100%;
			margin: 20px 0;
			background: rgb(247, 247, 247);
			border: 1px dotted rgb(192, 188, 188);
		}

		.mBottom {
			margin-bottom: 10px;
		}

		.mLeft10 {
			margin-left: 10px;
		}
	</style>
	@RenderSection("header", required: false)
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="~/Scripts/underscore.js"></script>
	<script src="~/Scripts/toastr.min.js"></script>
	<script src="~/Scripts/select2.min.js"></script>

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-sanitize.min.js"></script>
	<script src="https://code.angularjs.org/1.2.16/angular-animate.min.js"></script>
	<script src="~/Scripts/ui-select2.js"></script>
	<script src="~/Scripts/textAngular.min.js"></script>
	<script src="~/Scripts/loading-bar.js"></script>
	<script src="~/ngApp/app.service.js"></script>
	<script src="~/ngApp/app.directives.js"></script>
	
	<script>
		angular.module('package.main', [
			'app.service',
			'app.directive',
			'ngSanitize',
			'ui.select2',
			'angular-loading-bar',
			'ngAnimate'
		]);
	</script>
</head>
<body>

	<div class="container">

		<div id="header">
			
		</div>

		<div id="main">
			@RenderBody()
		</div>

		<div id="footer"></div>

	</div>
	
	<script>
		var onError = function (msg) {
			console.log('Error', msg);
			toastr.error(msg.Message, 'Error');
		};
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
