<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - TreePad</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
	<link href="~/Content/toastr.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		.ta-editor {
			min-height: 200px;
			height: auto;
			overflow: auto;
			font-family: inherit;
			font-size: 100%;
			margin: 20px 0;
			background: rgb(247, 247, 247);
			border: 1px dotted rgb(192, 188, 188);
		}
	</style>
	@RenderSection("header", required: false)

	<script src="~/Scripts/jquery-1.8.2.min.js"></script>
	<script src="~/Scripts/underscore.js"></script>
	<script src="~/Scripts/toastr.min.js"></script>

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-sanitize.min.js"></script>
	<script src="~/Scripts/textAngular.min.js"></script>
	<script src="~/ngApp/app.service.js"></script>
	<script src="~/ngApp/app.directives.js"></script>
</head>
<body>

	<div class="container">

		<div id="header">
			<h3><a href="/">TreePad</a></h3>
		</div>

		<div id="main">
			@RenderBody()
		</div>

		<div id="footer"></div>

	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
