<div class="row-fluid">
	<div style="margin-bottom: 5px;">
		<a href 
			style="text-decoration: none;" 
			ng-click="switchView()">Start new topic...</a>
	</div>

	<div ng-show="isShowCreateBox">
		<div class="row-fluid">
			<div class="span3">
				<input style="width: 100%" type="text" class="full-size" name="name" ng-model="model.Category" placeholder="Category" />
			</div>
			<div class="span9">
				<input style="width: 100%" type="text" class="full-size" name="name" ng-model="model.Title" placeholder="Title" />
			</div>
		</div>

		<textarea style="width: 100%" rows="7" ng-model="model.Value" placeholder="Type your note here..."></textarea>

		<div class="row-fluid">
			<div class="span1 offset11">
				<button class="btn" 
					ng-disabled="!model.Title || !model.Value || !model.Category"
					ng-click="addTopic()">Submit</button>
			</div>
		</div>
		<hr/>
	</div>
</div>