@{
	ViewBag.Title = "Main page";
}

@section header {
	<style>
		a {
			cursor: pointer;
			text-decoration: none !important;
		}

		.full-size {
			width: 100%;
		}

		.mainTitle {
			margin: 20px 0px;
			font-size: 30px;
			font-family: monospace;
		}

	</style>
}

<div ng-app="app.page-index" ng-controller="ctrl.page-index" ng-cloak class="ng-cloak">
	
	<div class="mainTitle"><a ng-click="toMain()">GraphPad</a></div>

	<new-topic
		parent="newTopic.data"
		on-add="newTopic.onAdd()">
	</new-topic>
	
	<table class="table table-bordered table-striped" ng-show="topics.data.length">
		<tr style="font-weight: bold;">
			<td>#</td>
			<td style="width: 90px;">Status</td>
			<td>
				Category
			</td>
			<td>
				Title
			</td>
			<td style="width: 170px;">Created</td>
			<td>Con</td>
			
			<td>#</td>
		</tr>
		<tr ng-repeat="topic in topics.data track by $index">
			<td>{{ $index + 1 }}</td>
			<td>
				<span ng-if="topic.Status == 'Изучен'" class="muted">{{ topic.Status }}</span>
				<span ng-if="topic.Status == 'Ожидает'" class="text-warning">{{ topic.Status }}</span>
				<span ng-if="topic.Status == 'В процессе'" class="text-error">{{ topic.Status }}</span>
			</td>
			<td>
				<a ng-click="byCategory(topic.Category)" class="text-info">{{ topic.Category }}</a>
			</td>
			<td>
				<a href="home/topic?id={{ topic.Id }}">{{ topic.Title }}</a>
			</td>
			<td style="width: 170px;">{{ topic.Created | date:'medium' }}</td>
			<td>{{ topic.Connections.length }}</td>
			<td>
				<a ng-click="topics.del(topic.Id)" title="Delete post"><i class="icon-trash"></i></a>
			</td>
		</tr>
	</table>
	
	<div style="margin-bottom: 50px;" ng-if="topics.all > 20">
		<a ng-show="config.offset != 0" ng-click="next()">< Вперед</a> <a ng-hide="config.offset + config.count >= topics.all" ng-click="back()">Назад ></a>
	</div>
	
</div>

@section scripts
{
	<script>

		(function(ng, show) {
			'use strict';

			var app = ng.module('app.page-index', ['package.main']);

			app.controller('ctrl.page-index', ['$scope', 'topicRepository',
				function($scope, repo) {
					var ctrl = this;
					$scope.config = {
						offset: 0,
						count: 20,
						fields: 'Id.Category.Status.Title.Created.Connections',
						category: '',
						busy: true
					};

					ctrl.onError = function(err) {
						show.error(err.message, 'Error');
						console.log('Error', err);
					};


					// -------------------------------------------------------
					$scope.newTopic = {
						data: {},
						clear: function() {
							this.data = {
								id: 0,
								Connections: [],
								Category: 'Общее',
							};
						},
						onAdd: function() {
							var that = this;
							var id = that.data.Connections[0];
							repo.getById(id).then(function(res) {
								$scope.topics.data.splice(0, 0, res);
								that.clear();
							}, ctrl.onError);
						}
					};
					$scope.newTopic.clear();


					// -------------------------------------------------------
					$scope.topics = {
						data: [],
						del: function(id) {
							var that = this;
							repo.del(id).then(function() {
								var ind = _.map(that.data, function(e) {
									return e.Id;
								}).indexOf(id);
								that.data.splice(ind, 1);
								show.success('Topic deleted!', 'Success');
							}, ctrl.onError);
						},
						all: 0
					};

					var dbGetAll = function() {
						var count = $scope.config.count;
						var offset = $scope.config.offset;
						var fields = $scope.config.fields;
						var category = $scope.config.category;

						return repo.getAll(count, offset, category, fields).then(function(r) {
							$scope.topics.data = ng.copy(r.data);
							$scope.topics.all = r.all;
						}, ctrl.onError);
					};

					$scope.toMain = function () {
						$scope.config.offset = 0;
						$scope.config.category = '';
						dbGetAll();
					};

					$scope.byCategory = function(cat) {
						$scope.config.category = cat;
						dbGetAll();
					};

					$scope.next = function () {
						$scope.config.offset = $scope.config.offset - $scope.config.count;
						dbGetAll();
					};

					$scope.back = function () {
						$scope.config.offset = $scope.config.count + $scope.config.offset;
						dbGetAll();
					};

					// INIT -------------------------------------------
					dbGetAll();
				}]);

		})(angular, toastr);

	</script>
}