@{
	ViewBag.Title = "Main page";
}

@section header {
	<style>
		a {
			cursor: pointer;
			text-decoration: none !important;
		}

		.full-size {
			width: 100%;
		}

		

	</style>
}

<div ng-controller="page-index" ng-cloak class="ng-cloak">
	
	<div class="mainTitle"><a ng-click="toMain()">GraphPad</a></div>

	<new-topic></new-topic>
	
	<table class="table table-bordered table-striped" ng-show="topics.data.length">
		<tr style="font-weight: bold;">
			<td>#</td>
			<td style="width: 90px;">Status</td>
			<td>
				Category
			</td>
			<td>
				Title
			</td>
			<td style="width: 170px;">Created</td>
			<td>Con</td>
			
			<td>#</td>
		</tr>
		<tr ng-repeat="topic in topics.data track by $index">
			<td>{{ $index + 1 }}</td>
			<td>
				<span ng-if="topic.Status == 'Изучен'" class="muted">{{ topic.Status }}</span>
				<span ng-if="topic.Status == 'Ожидает'" class="text-warning">{{ topic.Status }}</span>
				<span ng-if="topic.Status == 'В процессе'" class="text-error">{{ topic.Status }}</span>
			</td>
			<td>
				<a ng-click="byCategory(topic.Category)" class="text-info">{{ topic.Category }}</a>
			</td>
			<td>
				<a href="home/topic?id={{ topic.Id }}">{{ topic.Title }}</a>
			</td>
			<td style="width: 170px;">{{ topic.Created | date:'medium' }}</td>
			<td>{{ topic.Connections.length }}</td>
			<td>
				<a ng-click="topics.del(topic.Id)" title="Delete post"><i class="icon-trash"></i></a>
			</td>
		</tr>
	</table>
	
	<div style="margin-bottom: 50px;" ng-if="topics.all > 20">
		<a ng-show="config.offset != 0" ng-click="next()">< Вперед</a> <a ng-hide="config.offset + config.count >= topics.all" ng-click="back()">Назад ></a>
	</div>
	
</div>

@section scripts
{
	<script>

		require(['all', 'ctrl/page-index'], function () {
			console.log('Loading complete!');
			angular.bootstrap(document, ['page-index']);
		});

	</script>
}