@{
	ViewBag.Title = "Main page";
}

@section header {
	<style>
		a {
			cursor: pointer;
			text-decoration: none !important;
		}

		.full-size {
			width: 95%;
		}
	</style>
}

<div ng-app="app.page-index" ng-controller="ctrl.page-index">

	<div style="margin-bottom: 10px;">
		<a ng-click="switchCreateBox()">Start new thread...</a>
	</div>

	<div ng-show="isShowCreateBox" style="margin-bottom: 10px;">
		<div>
			<input type="text" class="full-size" name="name" ng-model="currentTopic.Category" placeholder="Category" />
		</div>
		<div>
			<input type="text" class="full-size" name="name" ng-model="currentTopic.Title" placeholder="Title" />
		</div>
		<textarea class="full-size" rows="4" ng-model="currentTopic.Value" placeholder="Type your note here..."></textarea>
		<div>
			<input type="text" class="full-size" name="name" ng-model="currentTopic.TagSource" placeholder="Tags" />
		</div>
		<div>
			<button class="btn" ng-click="addTopic()">Submit</button>
		</div>
	</div>

	<div class="well well-small" ng-repeat="topic in topics">
		<a style="color: green;">{{ topic.Category }}</a>
		<h4>
			<a href="home/viewtopic?id={{ topic.Id }}">{{ topic.Title }}</a>
		</h4>

		<div style="margin-top: 10px; font-size: 17px;">{{ topic.Value }}</div>

		<div style="margin-top: 10px; font-size: 12px;">
			<a style="color: gray;">{{ topic.Created | date:'medium' }}</a> | <a style="margin-right: 2px;" ng-repeat="tag in topic.Tags"><span>{{ tag }}</span></a>
		</div>
	</div>
</div>

@section scripts
{
	<script>
		'use strict';

		(function(ng, show) {
			var app = ng.module('app.page-index', ['app.service']);

			app.controller('ctrl.page-index', function($scope, repoTopics) {
				$scope.topics = [];
				$scope.currentTopic = clearPost();
				$scope.isShowCreateBox = false;

				function clearPost() {
					return {
						Title: '',
						Value: '',
						Tags: [],
						Category: '',

						TagSource: '',
					};
				}

				repoTopics.getAll().then(function(r) {
					$scope.topics = ng.copy(r);
				}, show.error);

				$scope.addTopic = function() {


					$scope.currentTopic.Tags = $scope.currentTopic
						.TagSource
						.toLowerCase()
						.split(',');

					repoTopics.add($scope.currentTopic).then(function(res) {
						repoTopics.getById(res).then(function (newTopic) {

							$scope.topics.splice(0, 0, newTopic);

							$scope.currentTopic = clearPost();
							show.success('Topic created!', 'Success');
						});
					});
				};

				$scope.switchCreateBox = function() {
					$scope.isShowCreateBox = !$scope.isShowCreateBox;
				};

				show.info('Load complete');
			});

		})(angular, toastr);

	</script>
}