@{
	ViewBag.Title = "Main page";
}

@section header {
	<style>
		a {
			cursor: pointer;
			text-decoration: none !important;
		}

		.full-size {
			width: 100%;
		}
	</style>
}

<div ng-app="app.page-index" ng-controller="ctrl.page-index">

	<new-topic
		parent="newTopic"
		on-add="onAddNewTopic()">
	</new-topic>
	
	<table class="table table-bordered table-striped" ng-show="topics.length">
		<tr style="font-weight: bold;">
			<td>#</td>
			<td style="width: 90px;">Status</td>
			<td>
				Category
			</td>
			<td>
				Title
			</td>
			<td style="width: 170px;">Created</td>
			<td>Con</td>
			
			<td>#</td>
		</tr>
		<tr ng-repeat="topic in topics track by $index">
			<td>{{ $index + 1 }}</td>
			<td>
				<span ng-if="topic.Status == 'Изучен'" class="text-success">{{ topic.Status }}</span>
				<span ng-if="topic.Status == 'Ожидает'" class="text-warning">{{ topic.Status }}</span>
				<span ng-if="topic.Status == 'В процессе'" class="text-error">{{ topic.Status }}</span>
			</td>
			<td>
				<a href class="text-info">{{ topic.Category }}</a>
			</td>
			<td>
				<a href="home/topic?id={{ topic.Id }}">{{ topic.Title }}</a>
			</td>
			<td style="width: 170px;">{{ topic.Created | date:'medium' }}</td>
			<td>{{ topic.Connections.length }}</td>
			<td>
				<a ng-click="deleleTopic(topic.Id)" title="Delete post"><i class="icon-trash"></i></a>
			</td>
		</tr>
	</table>
	
</div>

@section scripts
{
	<script>
		(function (ng, show) {
			'use strict';
			
			var app = ng.module('app.page-index', ['package.main']);

			app.controller('ctrl.page-index', ['$scope', 'topicRepository', 
				function ($scope, repo) {
				var that = this;
				
				$scope.topics = [];
				$scope.newTopic = {};

				that.onError = function (err) {
					show.error(err.message, 'Error');
					console.log('Error', err);
				};
				
				that.clearTopic = function() {
					$scope.newTopic = {
						id: 0,
						Connections: [],
						Category: 'Общее',
					};
				};

				$scope.onAddNewTopic = function() {
					var newTopicId = $scope.newTopic.Connections[0];
					repo.getById(newTopicId).then(function(res) {
						$scope.topics.splice(0, 0, res);
						that.clearTopic();
					});
				};

				$scope.deleleTopic = function(id) {
					repo.del(id).then(function() {

						var ind = _.map($scope.topics, function(e) {
							return e.Id;
						}).indexOf(id);

						$scope.topics.splice(ind, 1);

						show.success('Topic deleted!', 'Success');
					}, that.onError);
				};

				// INIT -------------------------------------------
				(function init () {
					that.clearTopic();

					repo.getAll().then(function (r) {
						$scope.topics = ng.copy(r);
						show.info('Load complete');
					}, that.onError);
				}());
			}]);

		})(angular, toastr);

	</script>
}