@{
    ViewBag.Title = "Home Page";
}

@section header {
	<style>
		body { 

		}
	</style>
}

<div ng-app="app.page-index" ng-controller="ctrl.page-index">
	{{ test }}
</div>

@section scripts
{
	<script>
		'use strict';

		(function(ng, show) {
			var app = ng.module('app.page-index', []);

			app.controller('ctrl.page-index', function ($scope) {
				$scope.test = 'Work!';

				show.info('Load complete');
			});

		})(angular, toastr);

	</script>
}