@{
	ViewBag.Title = "Main page";
}

@section header {
	<style>
		a {
			cursor: pointer;
			text-decoration: none !important;
		}

		.full-size {
			width: 100%;
		}
	</style>
}

<div ng-app="app.page-index" ng-controller="ctrl.page-index">

	<new-topic
		parent="newTopic"
		translate="Start new topic..."
		on-add="onAddNewTopic()">
	</new-topic>

	<div class="well well-small" ng-repeat="topic in topics">
		<h4>
			<a ng-click="delelePost(topic.Id)" class="delLink" placeholder="Delete post"><i class="icon-trash"></i></a><a href="home/viewtopic?id={{ topic.Id }}">{{ topic.Title }}</a>
		</h4>

		<div style="margin-top: 10px; font-size: 17px;">{{ topic.Value }}</div>

		<div style="margin-top: 10px; font-size: 12px;">
			<a style="color: gray;">{{ topic.Created | date:'medium' }}</a> | <a style="color: green;">{{ topic.Category }}</a>
		</div>
	</div>
</div>

@section scripts
{
	<script>
		'use strict';

		(function(ng, show) {
			var app = ng.module('app.page-index', ['app.service', 'app.directive']);

			app.controller('ctrl.page-index', function($scope, repoTopics) {
				var that = this;
				
				$scope.topics = [];
				$scope.newTopic = {};

				that.onError = function (err) {
					show.error(err.message, 'Error');
					console.log('Error', err);
				};
				
				that.clearTopic = function() {
					$scope.newTopic = {
						id: 0,
						Links: [],
						Category: 'Общее',
					};
				};

				$scope.onAddNewTopic = function() {
					var newTopicId = $scope.newTopic.Links[0];
					repoTopics.getById(newTopicId).then(function(res) {
						$scope.topics.splice(0, 0, res);
						that.clearTopic();
					});
				};

				$scope.delelePost = function(id) {
					repoTopics.del(id).then(function() {

						var ind = _.map($scope.topics, function(e) {
							return e.Id;
						}).indexOf(id);

						$scope.topics.splice(ind, 1);

						show.success('Topic deleted!', 'Success');
					}, that.onError);
				};

				// INIT -------------------------------------------
				(function init () {
					that.clearTopic();

					repoTopics.getAll().then(function (r) {
						$scope.topics = ng.copy(r);
						show.info('Load complete');
					}, that.onError);
				}());
			});

		})(angular, toastr);

	</script>
}