@{
	
}

@section header {
	<style>
		.title {
			font-size: 24px;
			color: rgb(97, 97, 97);
			margin-top: 5px;
			margin-bottom: 14px;
		}

		.postLink {
			cursor: pointer;
			margin-right: 5px;
			text-decoration: none;
		}
	</style>
}

<div ng-app="app.page-view-topic" ng-controller="ctrl.page-view-topic" ng-cloak class="ng-cloak">

	<div ng-show="topic.Id">

		<new-topic
			ng-show="!isShowCreateBox"
			parent="topic"
			on-add="onAddNewTopic()">
		</new-topic>

		<div ng-show="!isShowCreateBox" class="well well-small" style="margin-bottom: 30px;">
			<div class="mBottom title">
				<a ng-click="deleleCurrentPost()" class="postLink" title="Delete post"><i style="margin-top: 5px;" class="icon-trash"></i></a>
				<a ng-click="switchView()" class="postLink" title="Edit post"><i style="margin-top: 5px;" class="icon-edit"></i></a>
				{{ topic.Title }}
			</div>
			<div style="font-size: 17px;" class="mBottom">
				<div ng-bind-html="topic.Value"></div>
			</div>
			<hr style="margin-bottom: 5px;" />
			<div class="mBottom">
				<span class="muted">{{ topic.Created | date:'medium' }} | </span>
				<span class="text-warning">{{ topic.Status }} | </span>
				<span class="text-success">{{ topic.Category }}</span>
			</div>
		</div>

		<div ng-show="isShowCreateBox" style="margin-bottom: 15px;">
			<span class="label label-important">Edit mode on:</span>
		</div>

		<div ng-show="isShowCreateBox">
			<div class="row-fluid">
				<div class="span6">
					<input style="width: 100%" type="text" class="full-size" name="name" ng-model="newTopic.Title" placeholder="Title" />
				</div>
				<div class="span3">
					<input style="width: 100%" type="text" class="full-size" name="name" ng-model="newModel.Category" placeholder="Category" />
				</div>
				<div class="span3">
					<status-list model="currentStatus"></status-list>
				</div>
			</div>

			<text-angular ng-model="newTopic.Value"></text-angular>

			<div class="row-fluid mBottom">
				<div class="span2 offset10">
					<button class="btn"
						ng-click="switchView()">
						Cancel</button>

					<button class="btn"
						ng-disabled="!newTopic.Title || !newTopic.Category || !newTopic.Value || !currentStatus.text"
						ng-click="saveTopic()">
						Save</button>
				</div>
			</div>
			<hr />
		</div>

		<div style="margin-bottom: 30px;">
			<link-list topic="topic"/>
		</div>

		<div style="margin-bottom: 30px;">
			<connection-list topic="topic" />
		</div>
	</div>
</div>

@section scripts
{
	<script>
		(function(ng, show) {
			'use strict';

			var id = '@Html.Raw(ViewBag.Id)';

			var app = ng.module('app.page-view-topic', ['package.main']);

			app.controller('ctrl.page-view-topic', ['$scope', 'topicRepository',
				function($scope, repo) {
					$scope.currentStatus = { id: 0, text: 'Ожидает' };

					// Topics ====================================================
					$scope.topic = {};
					$scope.newTopic = {};
					$scope.isShowCreateBox = false;

					$scope.deleleCurrentPost = function() {
						repo.topics.del($scope.topic.Id).then(function() {
							window.location = "/";
						}, onError);
					};

					$scope.switchView = function() {
						$scope.isShowCreateBox = !$scope.isShowCreateBox;

						if ($scope.isShowCreateBox) {
							$scope.newTopic.Title = $scope.topic.Title;
							$scope.newTopic.Value = $scope.topic.Value;
							$scope.newTopic.Category = $scope.topic.Category;

							$scope.currentStatus.text = $scope.topic.Status;
						}
					};

					$scope.onAddNewTopic = function() {
						repo.topics.update(id, $scope.topic).then(function() {
							$scope.connections.load($scope.topic.Connections);
						}, onError);
					};

					$scope.saveTopic = function() {
						$scope.newTopic.Links = $scope.topic.Links;
						$scope.newTopic.Connections = $scope.topic.Connections;

						$scope.newTopic.Status = $scope.currentStatus.text;

						repo.topics.update($scope.topic.Id, $scope.newTopic).then(function(status) {
							if (status) {

								$scope.topic.Category = $scope.newTopic.Category;
								$scope.topic.Status = $scope.newTopic.Status;

								$scope.topic.Value = $scope.newTopic.Value;
								$scope.topic.Title = $scope.newTopic.Title;
								$scope.topic.Links = $scope.newTopic.Links;
								$scope.topic.Connections = $scope.newTopic.Connections;

								$scope.isShowCreateBox = false;

								show.success('Topic updated!', 'Success');
							} else {
								onError();
							}
						}, onError);
					};


					// INIT ====================================================
					(function() {
						repo.topics.getById(id).then(function(result) {
							$scope.topic = ng.copy(result);
							document.title = $scope.topic.Title + ' ' + document.title;
						}, onError);
					})();

				}]);
		}(angular, toastr));
	</script>
}