@{
	
}

@section header {
	<style>
		.title {
			font-size: 24px;
			color: rgb(97, 97, 97);
			margin-top: 5px;
			margin-bottom: 14px;
		}

		.postLink {
			cursor: pointer;
			margin-right: 5px;
			text-decoration: none;
		}
	</style>
}

<div ng-controller="page.topic" ng-cloak class="ng-cloak">
	
	<div class="mainTitle"><a href="../">GraphPad</a></div>

	<div ng-show="topic.Id">

		<new-topic
			ng-show="!isShowCreateBox"
			parent="topic"
			on-add="onAddNewTopic()">
		</new-topic>

		<div ng-show="!isShowCreateBox" class="well well-small" style="margin-bottom: 30px;">
			<div class="mBottom title">
				<a ng-click="deleleCurrentPost()" class="postLink" title="Delete post"><i style="margin-top: 5px;" class="icon-trash"></i></a>
				<a ng-click="switchView()" class="postLink" title="Edit post"><i style="margin-top: 5px;" class="icon-edit"></i></a>
				{{ topic.Title }}
			</div>
			<div style="font-size: 17px;" class="mBottom">
				<div ng-bind-html="topic.Value"></div>
			</div>
			<hr style="margin-bottom: 5px;" />
			<div class="mBottom">
				<span class="muted">{{ topic.Created | date:'medium' }} | </span>
				<span class="text-warning">{{ topic.Status }} | </span>
				<span class="text-success">{{ topic.Category }}</span>
			</div>
		</div>

		<div ng-show="isShowCreateBox" style="margin-bottom: 15px;">
			<span class="label label-important">Edit mode on:</span>
		</div>

		<div ng-show="isShowCreateBox">
			<div class="row-fluid">
				<div class="span6">
					<input style="width: 100%" type="text" class="full-size" name="name" ng-model="newTopic.Title" placeholder="Title" />
				</div>
				<div class="span3">
					<input style="width: 100%" type="text" class="full-size" name="name" ng-model="newModel.Category" placeholder="Category" />
				</div>
				<div class="span3">
					<status-list model="currentStatus"></status-list>
				</div>
			</div>

			<text-angular ng-model="newTopic.Value"></text-angular>

			<div class="row-fluid mBottom">
				<div class="span2 offset10">
					<button class="btn"
					        ng-click="switchView()">
						Cancel</button>

					<button class="btn"
					        ng-disabled="!newTopic.Title || !newTopic.Category || !newTopic.Value || !currentStatus.text"
					        ng-click="saveTopic()">
						Save</button>
				</div>
			</div>
			<hr />
		</div>

		<div style="margin-bottom: 30px;">
			<link-list topic="topic"/>
		</div>

		<div style="margin-bottom: 30px;">
			<connection-list topic="topic" />
		</div>
	</div>
</div>

@section scripts
{
	<script>
		var id = '@Html.Raw(ViewBag.Id)';

		require(['all', 'ctrl/page.topic'], function () {
			console.info('Loading complete!');

			angular.bootstrap(document, ['page.topic']);
		});
	</script>
}