@{
	ViewBag.Title = "View topic";
}

@section header {
	<style>
		.title {
			font-size: 24px;
			color: rgb(97, 97, 97);
			margin-top: 5px;
			margin-bottom: 14px;
		}

		.postLink {
			cursor: pointer;
			margin-right: 5px;
			text-decoration: none;
		}
	</style>
}

<div ng-app="app.page-view-topic" ng-controller="ctrl.page-view-topic" ng-cloak class="ng-cloak">

	<div ng-show="model.Id">

		<new-topic
			ng-show="!isShowCreateBox"
			parent="model"
			on-add="onAddNewTopic()">
		</new-topic>

		<div ng-show="!isShowCreateBox" class="well well-small" style="margin-bottom: 30px;">
			<div class="mBottom title">
				<a ng-click="deleleCurrentPost()" class="postLink" title="Delete post"><i style="margin-top: 5px;" class="icon-trash"></i></a>
				<a ng-click="switchView()" class="postLink" title="Edit post"><i style="margin-top: 5px;" class="icon-edit"></i></a>
				{{ model.Title }}
			</div>
			<div style="font-size: 17px;" class="mBottom">
				<div ng-bind-html="model.Value"></div>
			</div>
			<hr style="margin-bottom: 5px;" />
			<div class="mBottom">
				<span class="muted">{{ model.Created | date:'medium' }} | </span>
				<span class="text-warning">{{ model.Status }} | </span>
				<span class="text-success">{{ model.Category }}</span>
			</div>
		</div>

		<div ng-show="isShowCreateBox" style="margin-bottom: 15px;">
			<span class="label label-important">Edit mode on:</span>
		</div>

		<div ng-show="isShowCreateBox">
			<div class="row-fluid">
				<div class="span6">
					<input style="width: 100%" type="text" class="full-size" name="name" ng-model="newModel.Title" placeholder="Title" />
				</div>
				<div class="span3">
					<category-list model="currentCategory"></category-list>
				</div>
				<div class="span3">
					<status-list model="currentStatus"></status-list>
				</div>
			</div>

			<text-angular ng-model="newModel.Value"></text-angular>

			<div class="row-fluid mBottom">
				<div class="span2 offset10">
					<button class="btn"
						ng-click="switchView()">
						Cancel</button>

					<button class="btn"
						ng-disabled="!newModel.Title || !newModel.Value || !currentStatus.text || !currentCategory.text"
						ng-click="saveTopic()">
						Save</button>
				</div>
			</div>
			<hr />
		</div>

		<div style="margin-bottom: 30px;">
			<div class="mBottom title">
				Links 
			</div>
			<div style="margin-bottom: 5px;">
				<a style="text-decoration: none; cursor: pointer;" class="text-success" ng-click="switchLinkView()">Add new link...</a>
			</div>
			<div ng-show="!model.Links.length" class="mBottom">
				<span class="label label-info">No links</span>
			</div>
			<div class="row-fluid mBottom" ng-show="isAddNewLink">
				<div class="span7">
					<input type="text" style="width: 100%;" placeholder="Title" ng-model="newLink.Title" />
				</div>
				<div class="span4">
					<input type="text" style="width: 100%;" placeholder="Url" ng-model="newLink.Url" />
				</div>
				<div class="span1">
					<a class="btn" ng-click="addNewLink()"><i class="icon-plus-sign"></i></a>
				</div>
			</div>
			<table class="table table-bordered table-striped" ng-show="model.Links.length">
				<tr>
					<th style="width: 50px;">#</th>
					<th>Title</th>
					<th style="width: 50px;"></th>
				</tr>
				<tr ng-repeat="link in model.Links track by $index">
					<td>{{ $index + 1 }}</td>
					<td>
						<a href="{{ link.Url }}" target="_blank">{{ link.Title }}</a>
					</td>
					<td>
						<button class="btn" title="Delete link" ng-click="deleteLink(link)">
							<i class="icon-trash"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>

		<div style="margin-bottom: 10px;">
			<div class="mBottom title">
				Connections
			</div>
			<div ng-show="!connections.length">
				<span class="label label-info">No connections</span>
			</div>
			<table class="table table-bordered table-striped" ng-show="connections.length">
				<tr>
					<th style="width: 50px;">#</th>
					<th>Title</th>
					<th style="width: 50px;"></th>
				</tr>
				<tr ng-repeat="con in connections track by $index ">
					<td>{{ $index + 1 }}</td>
					<td>
						<a href="topic?id={{ con.Id }}">{{ con.Title }}</a>
					</td>
					<td>
						<button class="btn" title="Delete connections" ng-click="breakConnections(con.Id)">
							<i class="icon-trash"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>

@section scripts
{
	<script>
		(function (ng, show) {
			'use strict';

			var id = '@Html.Raw(ViewBag.Id)';

			var app = ng.module('app.page-view-topic', ['package.main']);

			app.controller('ctrl.page-view-topic', ['$scope', 'topicRepository',
				function ($scope, repo) {
					var that = this;

					$scope.currentCategory = { id: 0, text: 'Общее'};
					$scope.currentStatus = { id: 0, text: 'Ожидает'};

					// Topics ====================================================
					$scope.model = {};
					$scope.newModel = {};
					$scope.isShowCreateBox = false;

					$scope.deleleCurrentPost = function () {
						repo.del($scope.model.Id).then(function () {
							window.location = "/";
						}, that.onError);
					};

					$scope.switchView = function () {
						$scope.isShowCreateBox = !$scope.isShowCreateBox;

						if ($scope.isShowCreateBox) {
							$scope.newModel.Title = $scope.model.Title;
							$scope.newModel.Value = $scope.model.Value;
							
							$scope.currentCategory.text = $scope.model.Category;
							$scope.currentStatus.text = $scope.model.Status;
						}
					};

					$scope.onAddNewTopic = function () {
						repo.update(id, $scope.model).then(function () {
							that.loadConnections($scope.model.Connections);
						}, that.onError);
					};

					$scope.saveTopic = function () {
						$scope.newModel.Links = $scope.model.Links;
						$scope.newModel.Connections = $scope.model.Connections;
						
						$scope.newModel.Category = $scope.currentCategory.text;
						$scope.newModel.Status = $scope.currentStatus.text;

						repo.update($scope.model.Id, $scope.newModel).then(function (status) {
							if (status) {

								$scope.model.Category = $scope.newModel.Category;
								$scope.model.Status = $scope.newModel.Status;
								
								$scope.model.Value = $scope.newModel.Value;
								$scope.model.Title = $scope.newModel.Title;
								$scope.model.Links = $scope.newModel.Links;
								$scope.model.Connections = $scope.newModel.Connections;

								$scope.isShowCreateBox = false;

								show.success('Topic updated!', 'Success');
							} else {
								that.onError();
							}
						}, that.onError);
					};


					// Connections ====================================================
					$scope.connections = [];

					$scope.breakConnections = function (conId) {
						repo.breakConnections($scope.model.Id, [conId]).then(function (res) {
							if (res) {
								var ind = _.map($scope.connections, function (e) {
									return e.val;
								}).indexOf(conId);

								$scope.connections.splice(ind, 1);

								var conIDs = $scope.model.Connections;
								conIDs.splice(conIDs.indexOf(conId), 1);

								show.success('Connection broke!', 'Success');
							}
						}, that.onError);
					};


					// Links ====================================================
					$scope.newLink = {};
					$scope.isAddNewLink = false;

					$scope.deleteLink = function (link) {
						repo.deleteLink($scope.model.Id, link).then(function (res) {
							if (res) {
								var ind = _.map($scope.model.Links, function (e) {
									return e.Url;
								}).indexOf(link.Url);

								$scope.model.Links.splice(ind, 1);
								show.success('Link deleted!', 'Success');
							}
						}, that.onError);
					};

					$scope.switchLinkView = function () {
						$scope.isAddNewLink = !$scope.isAddNewLink;
					};

					$scope.addNewLink = function () {
						repo.addLink($scope.model.Id, $scope.newLink).then(function (res) {
							if (res) {
								if (!$scope.model.Links) {
									$scope.model.Links = [];
								}
								$scope.model.Links.push($scope.newLink);
								$scope.switchLinkView();
								that.clearLink();
								show.success('Link added!', 'Success');
							}
						}, that.onError);
					};

					that.clearLink = function () {
						$scope.newLink = {
							Title: '',
							Url: ''
						};
					};

					// Support ====================================================
					that.onError = function (msg) {
						console.log('Error', msg);
						show.error(msg.Message, 'Error');
					};

					// INIT ====================================================
					(function init() {
						that.clearLink();

						repo.getById(id).then(function (result) {
							$scope.model = result;
							if (!$scope.model.Connections) {
								$scope.model.Connections = [];
							}
							if ($scope.model.Connections.length) {
								that.loadConnections($scope.model.Connections);
							}
						}, that.onError);

						that.loadConnections = function (data) {
							repo.getPostsTitles(id, data).then(function (res) {
								$scope.connections = ng.copy(res);
							}, that.onError);
						};
					})();
				}]);
		}(angular, toastr));
	</script>
}