@{
    ViewBag.Title = "View topic";
}

@section header {
	<style>
		.mBottom {
			margin-bottom: 5px;
		}

		.mLeft10 {
			margin-left: 10px;
		}

		.title {
			font-size: 24px;
			color: rgb(97, 97, 97);
			margin-top: 5px;
			margin-bottom: 14px;
		}
	</style>
}

<div ng-app="app.page-view-topic" ng-controller="ctrl.page-view-topic">
	
	

	<div class="well well-small">
		<div class="mBottom title">
			{{ model.Title }}
		</div>

		<div style="font-size: 17px;" class="mBottom">
			{{ model.Value }}
		</div>

		<div class="mBottom">
			<a href="" ng-repeat="tag in model.Tags">{{ tag }}</a>
		</div>
	</div>
	
	<div>
		<a ng-click="del()" class="btn btn-danger">Delete</a>
	</div>
	
	<div class="well well-small">
		<div class="mBottom title">
			Parents:
		</div>
		
		<div>
			<input type="text" ng-model="searchParent" placeholder="search..."/>
		</div>
		
		<ul>
			<li ng-repeat="link in model.Links">{{ link }}</li>
		</ul>
	</div>

</div>

@section scripts
{
	<script>
		(function(ng, show) {
			'use strict';

			var id = '@Html.Raw(ViewBag.Id)';

			var app = ng.module('app.page-view-topic', ['app.service']);

			app.controller('ctrl.page-view-topic', function($scope, repoTopics) {
				$scope.model = {};
				$scope.searchParent = '';

				repoTopics.getById(id).then(function(result) {
					$scope.model = result;
					show.info('Load complete!');
				});

				$scope.del = function() {
					repoTopics.del($scope.model.Id).then(function () {
						window.location = "/";
					});
				};
			});

		}(angular, toastr));
	</script>
}