@{
	ViewBag.Title = "View topic";
}

@section header {
	<style>
		.mBottom {
			margin-bottom: 5px;
		}

		.mLeft10 {
			margin-left: 10px;
		}

		.title {
			font-size: 24px;
			color: rgb(97, 97, 97);
			margin-top: 5px;
			margin-bottom: 14px;
		}

		.delLink {
			cursor: pointer;
			margin-right: 5px;
			text-decoration: none;
		}
	</style>
}

<div ng-app="app.page-view-topic" ng-controller="ctrl.page-view-topic" ng-cloak class="ng-cloak">

	<new-topic
		parent="model"
		on-add="onAddNewTopic()">
		</new-topic>

	<div class="well well-small">
		<div class="mBottom title">
			<a ng-click="deleleCurrentPost()" class="delLink" placeholder="Delete post"><i class="icon-trash"></i></a>{{ model.Title }}
		</div>

		<div style="font-size: 17px;" class="mBottom">
			{{ model.Value }}
		</div>
		<hr style="margin-bottom: 5px;" />
		<div class="mBottom">
			<span class="muted">{{ model.Created | date:'medium' }}  | </span><span class="text-success">{{ model.Category }}</span>
		</div>
	</div>

	<div style="margin-bottom: 10px;">
		<div class="mBottom title">
			Connections
		</div>

		<div ng-show="!connections.length">
			<span class="label label-info">No connections</span>
		</div>

		<table class="table table-bordered table-striped" ng-show="connections.length">
			<tr>
				<th style="width: 50px;">#</th>
				<th>Title</th>
				<th style="width: 50px;"></th>
			</tr>
			<tr ng-repeat="con in connections track by $index ">
				<td>{{ $index + 1 }}</td>
				<td>
					<a href="viewtopic?id={{ con.Id }}">{{ con.Title }}</a>
				</td>
				<td>
					<button class="btn" placeholder="Delete connections" ng-click="breakConnections(con.Id)">
						<i class="icon-trash"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>

@section scripts
{
	<script src="~/ngApp/app.directives.js"></script>
	<script>
		(function(ng, show) {
			'use strict';

			var id = '@Html.Raw(ViewBag.Id)';

			var app = ng.module('app.page-view-topic', ['app.service', 'app.directive']);

			app.controller('ctrl.page-view-topic', function($scope, repoTopics) {
				var that = this;

				$scope.connections = [];
				$scope.model = {};

				$scope.deleleCurrentPost = function() {
					repoTopics.del($scope.model.Id).then(function() {
						window.location = "/";
					}, that.onError);
				};

				$scope.breakConnections = function(conId) {
					repoTopics.breakConnections($scope.model.Id, [conId]).then(function (res) {
						if (res) {
							var ind = _.map($scope.connections, function (e) { return e.val; }).indexOf(conId);
							$scope.connections.splice(ind, 1);
							
							var links = $scope.model.Links;
							links.splice(links.indexOf(conId), 1);
							
							show.success('Connections broke!', 'Success');
						}
					}, that.onError);
				};

				$scope.onAddNewTopic = function() {
					repoTopics.update(id, $scope.model).then(function() {
						that.loadConnections($scope.model.Links).then(function() {
							show.success('Update correct');
						});
					}, that.onError);
				};

				that.onError = function (msg) {
					console.log('Error', msg);
					show.error(msg.Message, 'Error');
				};

				// INIT --------------------------------------------------
				repoTopics.getById(id).then(function(result) {
					$scope.model = result;

					if (!$scope.model.Links) {
						$scope.model.Links = [];
					} else {
						that.loadConnections($scope.model.Links);
					}
				}, that.onError);

				that.loadConnections = function(data) {
					repoTopics.getPostsTitles(id, data).then(function(res) {
						$scope.connections = ng.copy(res);
					}, that.onError);
				};
			});

		}(angular, toastr));
	</script>
}