@{
    ViewBag.Title = "View topic";
}

@section header {
	<style>
		.mBottom {
			margin-bottom: 5px;
		}

		.mLeft10 {
			margin-left: 10px;
		}

		.title {
			font-size: 24px;
			color: rgb(97, 97, 97);
			margin-top: 5px;
			margin-bottom: 14px;
		}
	</style>
}

<div ng-app="app.page-view-topic" ng-controller="ctrl.page-view-topic" ng-cloak class="ng-cloak">
	
	<new-topic 
		parent="model"
		on-add="onAddNewTopic()">
	</new-topic>

	<div class="well well-small">
		<div class="mBottom title">
			{{ model.Title }}
		</div>

		<div style="font-size: 17px;" class="mBottom">
			{{ model.Value }}
		</div>

		<div class="mBottom">
			<a href="../tags/{{tag}}" ng-repeat="tag in model.Tags">{{ tag }}</a>
		</div>
	</div>
	
	<div style="margin-bottom: 10px;">
		<a ng-click="del()" class="btn btn-danger">Delete</a>
	</div>
	
	<div style="margin-bottom: 10px;">
		<div class="mBottom title">
			Connections
		</div>
		
		<table class="table table-bordered table-striped">
			<tr>
				<th style="width: 50px;">#</th>
				<th>Title</th>
				<th style="width: 100px;">
					Action
				</th>
			</tr>
			<tr ng-repeat="con in connections track by $index ">
				<td>{{ $index + 1 }}</td>
				<td>
					<a href="viewtopic?id={{ con.Id }}">{{ con.Title }}</a>
				</td>
				<td>
					<button class="btn btn-danger">del</button>
				</td>
			</tr>
		</table>
	</div>
</div>

@section scripts
{
	<script src="~/ngApp/app.directives.js"></script>
	<script>
		(function(ng, show) {
			'use strict';

			var id = '@Html.Raw(ViewBag.Id)';

			var app = ng.module('app.page-view-topic', ['app.service', 'app.directive']);

			app.controller('ctrl.page-view-topic', function($scope, repoTopics) {
				var that = this;

				$scope.connections = [];
				$scope.model = {};

				$scope.del = function() {
					repoTopics.del($scope.model.Id).then(function() {
						window.location = "/";
					}, that.onError);
				};

				$scope.onAddNewTopic = function() {
					repoTopics.update(id, $scope.model).then(function() {
						show.success('Update correct');
					}, that.onError);
				};

				that.onError = function(msg) {
					show.error(msg.Message, 'Error');
				};

				// INIT --------------------------------------------------
				repoTopics.getById(id).then(function(result) {
					$scope.model = result;

					if (!$scope.model.Links) {
						$scope.model.Links = [];
					} else {
						that.loadConnections($scope.model.Links);
					}
				}, that.onError);

				that.loadConnections = function (data) {
					repoTopics.getPostsTitles(id, data).then(function (res) {
						$scope.connections = ng.copy(res);
					}, that.onError);
				};
			});

		}(angular, toastr));
	</script>
}